@import "tailwindcss";

@layer utilities {
  .squircle {
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M100,50 C100,4.55 95.45,0 50,0 C4.55,0 0,4.55 0,50 C0,95.45 4.55,100 50,100 C95.45,100 100,95.45 100,50 Z'/%3E%3C/svg%3E");
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M100,50 C100,4.55 95.45,0 50,0 C4.55,0 0,4.55 0,50 C0,95.45 4.55,100 50,100 C95.45,100 100,95.45 100,50 Z'/%3E%3C/svg%3E");
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    border-radius: 0px !important;
  }
}
